.content.calculator-options {
    margin-bottom: 15px;
}

.content.calculator-options form[name="test_collection_insurers"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

.content.calculator-options form[name="test_collection_insurers"] input[type="checkbox"] {
    margin-right: 2px;
}

.content.calculator-options h3 {
    margin-bottom: 10px;
}

.content.calculator-options p.choose-calculators {
    margin-left: 10px;
}

.calculator-options .list-group-flush li.list-group-item:first-child {
    border-top: 0;
}

.calculator-options .list-group-flush li.list-group-item:last-child {
    border-bottom: 0;
}


.calculator-options .list-group-flush li.list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.calculator-options .glyphicon {
    display: none;
}

.calculator-options .calculator {
    margin-right: 40px;
}