<header class="top-banner">
    <div class="row" style="padding: 0;">
        <div id="top-header-bar" class="row" style="padding: 0;">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="logo hidden-print" href="/">
                        <span>Gewerbeversicherung 24</span>
                    </a>
                    <img class="visible-print" src="http://pg.gewerbeversicherung.de/bundles/gv24core/images/logo.png">
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 contact text-right hidden-print pull-right">
                    <div class="contact-name">Kostenfreie Beratung</div>
                    <div class="contact-phone" itemprop="phone"><a href="tel:+069-900-219-111">069 900 219 111</a></div>
                    <div class="contact-time">Mo. - Fr. 8:00 - 19:00 Uhr</div>
                </div>
                <div style="clear: both; padding: 0;"></div>
            </div>
        </div>
    </div>
</header>