<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="robots" content="index, follow, noarchive">

            <meta name="author" content="{% block meta_author %}Gewerbeversicherung24{% endblock %}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta name="keywords" content="{% block meta_keywords %}Gewerbeversicherungen, Beratung, vergleichen, gv24{% endblock %}"/>
            <meta name="description"
                  content="{% block meta_description %}Vergleichsrechner für Gewerbeversicherungen | ✓ Kostenlos Tarife vergleichen ✓ Beratung ✓ Online-Rabatt ✓ Testsieger ✓ Bequem abschließen{% endblock %}">
        {% endblock %}

        <title>{% block title %}Tarifvergleich | Calculator options!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" media="all">
            <link rel="stylesheet" type="text/css"
                  href="http://pg.gewerbeversicherung.de/bundles/gv24core/lib/awesome/css/font-awesome.min.css" media="all">
            <link href="http://pg.gewerbeversicherung.de/bundles/gv24core/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="http://pg.gewerbeversicherung.de/bundles/gv24core/lib/jquery/jquery-ui.min.css" rel="stylesheet">
            <link href="http://pg.gewerbeversicherung.de/bundles/gv24cms/css/default.cms.css" rel="stylesheet"/>
            <link href="http://pg.gewerbeversicherung.de/bundles/gv24core/css/default.css" rel="stylesheet"/>
            <link href="http://pg.gewerbeversicherung.de/bundles/gv24cms/css/default.print.css" rel="stylesheet" media="print">
            <link href="http://pg.gewerbeversicherung.de/bundles/gv24cms/css/default.print.css" rel="stylesheet" media="print">
            <link href="{{ asset('bundles/gv24test/css/calculator-options.css') }}" rel="stylesheet">

            <!--[if IE]>
            <style>
                .img-responsive {
                    width: 100% !important;
                }
            </style>
            <![endif]-->
            <!--[if lt IE 9]>
            <script src="http://pg.gewerbeversicherung.de/bundles/gv24core/lib/ie/html5shiv.min.js"></script>
            <script src="http://pg.gewerbeversicherung.de/bundles/gv24core/lib/ie/respond.min.js"></script>
            <![endif]-->

            <link rel="shortcut icon"
                  href="http://pg.gewerbeversicherung.de/bundles/gv24core/_design/gv24partner/images/favicon.ico"/>
            <link rel="apple-touch-icon"
                  href="http://pg.gewerbeversicherung.de/bundles/gv24core/_design/gv24partner/images/apple-touch-icon-152x152.png"/>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include '@GV24Test/partials/_header.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include '@GV24Test/partials/_footer.html.twig' %}
        {% endblock %}


        {% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="http://pg.gewerbeversicherung.de/bundles/gv24core/lib/jquery/jquery.min.js"></script>
            <script src="http://pg.gewerbeversicherung.de/bundles/gv24core/lib/jquery/jquery-ui.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="http://pg.gewerbeversicherung.de/bundles/gv24core/lib/bootstrap/js/bootstrap.min.js"></script>
            <script src="https://pg.gewerbeversicherung.de/bundles/gv24core/lib/moment/moment-with-locales.min.js"></script>
            <script src="https://pg.gewerbeversicherung.de/bundles/gv24core/lib/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
            <script src="http://pg.gewerbeversicherung.de/bundles/gv24core/js/default.js"></script>
        {% endblock %}
    </body>
</html>
