{% extends '@GV24Test/base_gv24.html.twig' %}

{% block body %}
<div class="content row calculator-options">
    <div class="row">
        <div class="col-md-12 offset-0">
            <p class="h3">{{ 'activated_calculator'|trans({}, 'gv24_test') }}</p>

            {{ form_start(form) }}

            <div class="row">
                <div class="col-md-12">
                    <p class="choose-calculators">{{ 'choose_calculators_description'|trans({}, 'gv24_test') }}<br>
                        {{ 'calculators_highlighted_description'|trans({}, 'gv24_test') }}</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    {{ form_errors(form) }}
                    {{ form_errors(form.insurers) }}
                </div>
            </div>

            <ul class="list-group list-group-flush">
                {% for insurers in form.insurers %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_label(insurers, insurers.vars.value.name) }}
                            </div>

                            <div class="col-md-8">
                                {% for calculators in insurers.calculators %}
                                    <div class="pull-left calculator">
                                        {{ form_row(calculators, {
                                            'label': calculators.vars.value.name,
                                            'attr': {'class': 'pull-left calculator-name'}})
                                        }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8"><button type="submit" class="btn btn-success">Submit</button></div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
    